@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Neufile";
  src: url('../public/assets/font/NeufileGrotesk-Regular.eot');
}

.project__image {
  box-shadow: 0 0 1rem 0.00001em rgba(128, 128, 128, 0.349);
}

.cardScroll::-webkit-scrollbar {
  display: none;
} 

/* commenting below font families because they are not yet defined on the design but yet provided in assets*/



/* @font-face {
  font-family: "Neufile";
  src: url('../public/assets/font/NeufileGrotesk-Regular.otf');
} */
/* @font-face {
  font-family: "Neufile";
  src: url('../public/assets/font/NeufileGrotesk-Regular.woff');
} */
/* 
@font-face {
  font-family: "Neufile";
  src: url('../public/assets/font/NeufileGrotesk-Regular.woff2');
} */